{% extends 'ordersapp/base.html' %}
{% load static %}
{% block content %}
{% if not object_list %}
    <h4>У вас нет активных заказов</h4>
{% else %}
    <table class="pure-table">
        <thead>
            <tr>
                <th>Created at</th>
                <th>Status</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr>
                <td>{{ object.created_at|date:"d/m/Y H:i:s" }}</td>
                <td>{{ object.get_status_display }}</td>
                <td>
                    <a href="{% url 'orders:update' object.pk %}" class="pure-button pure-button-primary">
                        редактировать
                    </a>
                </td>
                <td>
                    {% if object.can_pay %}
                        <a href="{% url 'orders:pay' object.pk %}" class="pure-button pure-button-primary">
                            оплатить
                        </a>
                    {% else %}
                        <span>Оплачен</span>
                    {% endif %}
                </td>
                <td>
                    {% if object.can_cancel %}
                        <a href="{% url 'orders:cancel' object.pk %}" class="pure-button pure-button-primary">
                            отменить
                        </a>
                    {% else %}
                        <span>Отменён</span>
                    {% endif %}                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}
